/* margin, padding */
.mt0 { margin-top: 0 !important; } 
.mt10 { margin-top: 10px !important; } 
.mt15 { margin-top: 15px !important; } 
.mt20 { margin-top: 20px !important; } 
.mt25 { margin-top: 25px !important; } 
.mt30 { margin-top: 30px !important; } 
.mt35 { margin-top: 35px !important; } 
.mt40 { margin-top: 40px !important; } 
.mt45 { margin-top: 45px !important; } 
.mt50 { margin-top: 50px !important; } 
.mt55 { margin-top: 55px !important; } 
.mt60 { margin-top: 60px !important; } 
.mt65 { margin-top: 65px !important; } 
.mt70 { margin-top: 70px !important; } 
.mt120 { margin-top: 120px !important; } 

.mb0 { margin-bottom: 0 !important; } 
.mb40 { margin-bottom: 40px !important; } 
.mb60 { margin-bottom: 60px !important; } 
.mb80 { margin-bottom: 80px !important; } 

/* color */
.color_blue { color: #2c3db8 !important; } 
.color_mint { color: #2ebab4 !important; } 
.color_red { color: #ff5042 !important; } 
.color_black { color: #393f44 !important; } 
.color_gray { color: #666 !important; } 

/* font */
.f16 { font-size: 16px !important; } 
.f18 { font-size: 18px !important; } 
.f20 { font-size: 20px !important; } 
.f22 { font-size: 22px !important; } 
.f24 { font-size: 24px !important; } 

.fw300 { font-weight: 300 !important; } 
.fw400 { font-weight: 400 !important; } 
.fw500 { font-weight: 500 !important; } 
.fw600 { font-weight: 600 !important; } 
.fw700 { font-weight: 700 !important; } 

.underline { text-decoration: underline !important; } 

/* common */
.inner_center { position: relative; width: 100%; max-width: 1280px; margin: 0 auto; padding: 0 40px; } 
.inner_center_s { position: relative; width: 100%; max-width: 874px; margin: 0 auto; padding: 0 40px; } 
.wid_full { width: 100% !important; } 
.flex_none { flex: none !important; } 

/* wrap */
#wrap { display: flex; flex-direction: column; min-width: 1280px; min-height: 100vh; } 

/* header */
.top_pop { position: relative; width: 100%; min-width: 1280px; height: 48px; margin: 0 auto; overflow: hidden; transition: .2s; } 
.top_pop.hide { height: 0; } 
.top_pop .banner { position: absolute; top: 0; left: 50%; transform: translateX(-50%); } 
.top_pop .btn_close { position: absolute; top: 50%; left: 50%; width: 16px; height: 16px; margin-left: -600px; background: url(../images/ico_close_white_16.svg) no-repeat center; transform: translateY(-50%); } 

#header { position: relative; border-bottom: 1px solid #dde3ec; background: #fff; z-index: 50; } 
#header .inner_center { display: flex; align-items: center; } 
#header .logo { margin-right: 50px; } 
#header .logo a { display: block; width: 205px; height: 23px; background: url(../images/logo.svg) no-repeat center; text-indent: -999px; overflow: hidden; } 
.gnb_box .gnb { display: flex; } 
.gnb_box .gnb > li { position: relative; } 
.gnb_box .gnb > li > a { display: block; position: relative; padding: 35px 30px; color: #000; font-size: 22px; line-height: 30px; font-weight: 700; } 
.gnb_box .gnb > li > a.in_ul span::before { content: ''; position: absolute; bottom: 18px; left: 50%; width: 0; height: 3px; background: #2c3db8; transform: translateX(-50%); transition: .2s; } 
.gnb_box .gnb > li > a.in_ul span::after { content: ''; position: absolute; top: 50%; right: 16px; width: 10px; height: 7px; background: url(../images/ico_gnb_arrow.svg) no-repeat center; transform: translateY(-50%); } 
.gnb_box .gnb > li > .depth { position: absolute; top: 100%; left: 50%; width: 180px; max-height: 0; border-radius: 10px; transform: translateX(-50%); overflow: hidden; transition: all 0.2s cubic-bezier(0, 1, 0, 1); } 
.gnb_box .gnb > li > .depth > ul { padding: 18px 0; border: 1px solid #2c3db8; border-radius: 10px; background: #fff; } 
.gnb_box .gnb > li > .depth > ul > li + li { margin-top: 8px; } 
.gnb_box .gnb > li > .depth > ul > li > a { display: block; color: #666; font-size: 20px; line-height: 26px; font-weight: 400; text-align: center; transition: .2s; } 
.gnb_box .gnb > li > .depth > ul > li > a:hover { color: #2c3db8; font-weight: 600; } 
.gnb_box .gnb > li:hover > a.in_ul span::before { width: calc(100% - 52px); } 
.gnb_box .gnb > li:hover > .depth { max-height: 300px; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); transition: all .4s ease-in-out; } 
#header .head_right { display: flex; align-items: center; margin-left: auto; } 
#header .head_right .btn_login { padding: 0 20px; margin: 0 4px; border: 1px solid #2c3db8; border-radius: 20px; background: #fff; color: #2c3db8; font-size: 16px; line-height: 37px; } 
#header .head_right .btn_join { padding: 0 20px; margin: 0 4px; border: 1px solid #2c3db8; border-radius: 20px; background: #2c3db8; color: #fff; font-size: 16px; line-height: 37px; } 
#header .head_right .btn { margin-left: 16px; } 

.all_menu { position: fixed; top: 0; right: 0; left: 0; min-width: 1280px; max-height: 0; background: #2c3db8; overflow: hidden; transition: all 0.2s cubic-bezier(0, 1, 0, 1); z-index: 60; } 
.all_menu .inner_center { display: flex; min-height: 100vh; padding-top: 180px; padding-bottom: 16px; } 
.all_menu .btn_close { position: absolute; top: 40px; right: 40px; width: 56px; height: 56px; background: url(../images/ico_close_white_56.svg) no-repeat center; } 
.all_menu .menu_left { flex: 1; display: flex; flex-direction: column; padding-right: 122px; } 
.all_menu .menu_head { display: flex; justify-content: space-between; align-items: flex-start; } 
.all_menu .menu_head .txt_welcome { margin: 15px auto 0 0; color: #fff; font-size: 50px; line-height: 65px; font-weight: 700; } 
.all_menu .menu_head .user_type { display: flex; justify-content: center; align-items: center; position: relative; width: 80px; height: 80px; margin-top: 30px; padding: 16px; border-radius: 100%; background: #fff; color: #2c3db8; font-size: 18px; line-height: 22px; font-weight: 600; text-align: center; } 
.all_menu .menu_head .user_type .tip { position: absolute; top: 0; right: 100%; margin-right: -16px; padding: 0 8px; border-radius: 14px; background: #77abf8; color: #fff; font-size: 15px; line-height: 27px; font-weight: 500; white-space: nowrap; } 
.all_menu .menu_info { flex: 1; display: flex; flex-direction: column; } 
.all_menu .menu_info .bank_box { display: flex; flex-direction: column; margin-top: 39px; } 
.all_menu .menu_info .bank_box .name_num { display: flex; justify-content: space-between; align-items: center; padding-right: 21px; } 
.all_menu .menu_info .bank_box .name img { height: 19px; } 
.all_menu .menu_info .bank_box .num { display: flex; align-items: center; color: #fff; font-size: 26px; line-height: 34px; font-weight: 600; } 
.all_menu .menu_info .bank_box .num .copy { width: 18px; height: 18px; margin-left: 8px; background: url(../images/ico_copy.svg) no-repeat center; background-size: contain; } 
.all_menu .menu_info .bank_box .amount { display: flex; justify-content: space-between; margin-top: 14px; padding-right: 47px; color: #2ebab4; } 
.all_menu .menu_info .bank_box .amount dt { font-size: 20px; line-height: 34px; font-weight: 700; } 
.all_menu .menu_info .bank_box .amount dd { font-size: 26px; line-height: 34px; font-weight: 600; } 
.all_menu .menu_info .loginjoin { display: flex; margin: 45px 0; } 
.all_menu .menu_info .loginjoin > li + li { position: relative; margin-left: 49px; } 
.all_menu .menu_info .loginjoin > li + li::before { content: ''; position: absolute; top: 50%; left: -25px; width: 1px; height: 25px; background: #d9d9d9; opacity: 0.2; transform: translateY(-50%); } 
.all_menu .menu_info .loginjoin a { display: block; position: relative; color: #fff; font-size: 30px; line-height: 39px; font-weight: 600; } 
.all_menu .menu_info .loginjoin a .tip { position: absolute; top: calc(100% + 8px); left: 50%; padding: 5px 12px; border-radius: 5px; background: #2ebab4; color: #fff; font-size: 14px; line-height: 18px; font-weight: 600; white-space: nowrap; transform: translateX(-50%); } 
.all_menu .menu_info .loginjoin a .tip::before { content: ''; position: absolute; bottom: 100%; left: 50%; border: 6px solid transparent; border-bottom-color: #2ebab4; transform: translateX(-50%); } 
.all_menu .menu_info .menu_main { display: flex; margin: auto 0 110px; } 
.all_menu .menu_info .menu_main > li + li { margin-left: 20px; } 
.all_menu .menu_info .menu_main a { display: block; } 
.all_menu .menu_right { flex: none; width: 610px; } 
.all_menu .menu_list > li { display: flex; justify-content: space-between; align-items: center; padding: 28px 8px; border-bottom: 1px solid rgba(217, 217, 217, 0.1); } 
.all_menu .menu_list > li > a { display: flex; align-items: center; } 
.all_menu .menu_list > li > a .ico { width: 36px; height: 36px; margin-right: 20px; background-repeat: no-repeat; background-position: center; } 
.all_menu .menu_list > li > a span { color: #fff; font-size: 40px; line-height: 52px; font-weight: 600; } 
.all_menu .menu_list > li > .depth { flex: none; display: flex; align-items: center; width: 311px; } 
.all_menu .menu_list > li > .depth > li { margin-right: 30px; } 
.all_menu .menu_list > li > .depth > li > a { color: #fff; font-size: 20px; line-height: 26px; } 
.all_menu .menu_list > li > .depth > li > a:hover { text-decoration: underline; } 

.openMenu { width: 100%; height: 100%; overflow: hidden; } 
.openMenu .all_menu { max-height: 1024px; transition: all .4s ease-in-out; } 

/* container */
#container { flex: 1; display: flex; flex-direction: column; } 

/* footer */
#footer { padding: 50px 0; background: #222; } 
#footer .inner_center { display: flex; } 
.foot_cs { flex: none; display: flex; flex-direction: column; width: 345px; padding-left: 20px; border-right: 1px solid rgba(246, 246, 246, 0.15); } 
.foot_cs dt { position: relative; padding-left: 36px; color: #fff; font-size: 22px; line-height: 32px; font-weight: 700; } 
.foot_cs dt::before { content: ''; position: absolute; top: 50%; left: 0; width: 36px; height: 32px; margin-top: -18px; background: url(../images/foot_cs.svg) no-repeat center center; background-size: contain; } 
.foot_cs dd { margin-top: 30px; } 
.foot_cs dd .tel { color: #fff; font-size: 32px; line-height: 42px; font-weight: 700; } 
.foot_cs dd .time { margin-top: 13px; color: #fff; font-size: 16px; line-height: 21px; opacity: 0.7; } 

.foot_container { flex: 1; margin-left: 60px; } 
.foot_logo_sns { display: flex; justify-content: space-between; align-items: flex-start; } 
.foot_logo a { display: block; width: 91px; height: 39px; background: url(../images/foot_logo.svg) no-repeat center center; background-size: contain; color: transparent; font-size: 0; } 
.foot_sns { display: flex; flex-wrap: wrap; justify-content: flex-end; } 
.foot_sns > li { margin-left: 15px; } 
.foot_sns a { display: block; width: 32px; height: 32px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.foot_sns .sns_youtube { background-image: url(../images/sns_youtube.png); } 
.foot_sns .sns_facebook { background-image: url(../images/sns_facebook.png); } 
.foot_sns .sns_blog { background-image: url(../images/sns_blog.png); } 
.foot_sns .sns_talk { background-image: url(../images/sns_talk.png); } 
.foot_con { margin-top: 35px; } 
.foot_menu { display: flex; flex-wrap: wrap; } 
.foot_menu > li { margin-right: 20px; } 
.foot_menu a { display: block; color: #fff; font-size: 16px; line-height: 21px; font-weight: 700; opacity: 0.7; } 
.foot_link_box { position: relative; margin-top: 22px; } 
.foot_link_box .foot_link { display: flex; flex-wrap: wrap; } 
.foot_link_box .foot_link > li { margin-right: 20px; } 
.foot_link_box .foot_link a { display: block; color: #a3a7ab; font-size: 16px; line-height: 21px; opacity: 0.7; } 
.foot_link_box .foot_certified { position: absolute; right: 0; bottom: 0; width: 43px; height: 73px; background: url(../images/foot_certified.svg) no-repeat center; background-size: contain; } 
 

/* main */
.ma_visual { position: relative; padding: 55px 0; } 
.ma_visual .bg_img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url(../images/bg_ma_visual.png) no-repeat center #197cff; background-size: cover; } 
.visual_swp { position: relative; } 
.visual_swp .inbox { display: flex; } 
.visual_swp .inbox .imgbox { flex: none; position: relative; width: 590px; border-radius: 20px; overflow: hidden; } 
/* .visual_swp .inbox .imgbox::before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%) } */
.visual_swp .inbox .imgbox > img { width: 590px; height: 310px; object-fit: cover; } 
.visual_swp .inbox .imgbox .status { position: absolute; top: 20px; left: 30px; padding: 0 12px; border-radius: 5px; background: #222; color: #fff; font-size: 18px; line-height: 29px; font-weight: 600; } 
.visual_swp .inbox .imgbox .status.bg_red { background: #db2852; } 
.ma_progress_group { position: absolute; right: 30px; bottom: 20px; left: 30px; } 
.ma_progress_group .progress_bar { position: relative; height: 6px; border-radius: 3px; } 
.ma_progress_group .progress_bar::before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #fff; opacity: 0.7; } 
.ma_progress_group .progress_bar .val { position: absolute; top: 0; bottom: 0; left: 0; border-radius: 3px; background: #fff; z-index: 1; } 
.ma_progress_group .progress_info { display: flex; align-items: flex-start; margin-top: 7px; color: #fff; } 
.ma_progress_group .progress_info .total { flex: 1; margin-top: 3px; font-size: 18px; line-height: 23px; } 
.ma_progress_group .progress_info .pct { position: relative; font-size: 26px; line-height: 34px; font-weight: 700; } 
.visual_swp .inbox .txtbox { flex: 1; padding-top: 40px; margin-left: 63px; } 
.visual_swp .inbox .txtbox .tag_box { display: flex; align-items: center; } 
.visual_swp .inbox .txtbox .tag_box .tag { margin-right: 10px; color: #fff; font-size: 20px; line-height: 26px; font-weight: 500; } 
.visual_swp .inbox .txtbox .tit { margin-top: 8px; color: #fff; font-size: 44px; line-height: 62px; font-weight: 700; } 
.visual_swp .inbox .txt_info { display: flex; margin-top: 69px; } 
.visual_swp .inbox .txt_info > p { display: flex; align-items: flex-start; color: #fff; font-size: 20px; line-height: 26px; font-weight: 500; } 
.visual_swp .inbox .txt_info > p + p { margin-left: 40px; } 
.visual_swp .inbox .txt_info > p em { margin: -33px 8px 0; font-size: 56px; line-height: 78px; font-weight: 700; } 
.visual_swp .inbox .txt_info > p span { font-size: 20px; } 
.visual_swp .swiper_ctrl { display: flex; position: absolute; right: 0; bottom: 15px; } 
.visual_swp .swiper_ctrl .swiper-pagination { display: flex; position: static; color: #f6f6f6; font-size: 12px; line-height: 20px; font-weight: 500; } 
.visual_swp .swiper_ctrl .swiper-pagination .bar { margin: 0 8px; opacity: 0.3; } 
.visual_swp .swiper_ctrl .swiper-button-next { flex: none; position: static; width: 20px; height: 20px; margin: 0 0 0 18px; background: url(../images/ico_next_white_20.svg) no-repeat center; overflow: hidden; } 
.visual_swp .swiper_ctrl .swiper-button-prev { flex: none; position: static; width: 20px; height: 20px; margin: 0 0 0 18px; background: url(../images/ico_prev_white_20.svg) no-repeat center; overflow: hidden; } 
.visual_swp .swiper-button-next:after, 
.visual_swp .swiper-button-prev:after { display: none; } 

.ma_environment_wrap { background: #fff; } 
.ma_environment { display: flex; margin-top: 26px; padding-bottom: 120px; } 
.ma_environment .datalist { flex: 1; } 
.ma_environment .datalist > li + li { margin-top: 20px; } 
.ma_environment .datalist .inbox { display: flex; align-items: center; padding: 28px 40px 28px 30px; border: 0.5px solid #e0e1e2; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.ma_environment .datalist .inbox .ico { width: 75px; height: 75px; margin-right: 20px; border-radius: 10px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.ma_environment .datalist .inbox .tit { font-size: 24px; line-height: 31px; font-weight: 700; } 
.ma_environment .datalist .inbox .con { position: relative; margin-left: auto; text-align: right; } 
.ma_environment .datalist .inbox .con .txt { font-size: 35px; line-height: 49px; font-weight: 700; } 
.ma_environment .datalist .inbox .con .cnt { position: absolute; right: 0; top: 100%; margin-top: -2px; color: #ff5042; font-size: 12px; line-height: 16px; } 
.ma_environment .databox { flex: 1; position: relative; margin-left: 20px; border-radius: 20px; background: url(../images/ma_bg_environment01.png) no-repeat center bottom #e9faf4; background-size: cover; } 
.ma_environment .databox .leftbox { display: flex; flex-direction: column; align-items: flex-start; position: absolute; top: 43px; left: 40px; } 
.ma_environment .databox .leftbox .tit { font-size: 24px; line-height: 31px; font-weight: 700; } 
.ma_environment .databox .leftbox .con .txt { font-size: 35px; line-height: 49px; font-weight: 700; } 
.ma_environment .databox .leftbox .con .cnt { margin-top: -2px; padding-right: 2px; color: #2ebab4; font-size: 12px; line-height: 16px; text-align: right; } 
.ma_environment .databox .rightbox { position: absolute; top: 42px; left: 237px; color: #393f44; font-size: 26px; line-height: 34px; font-weight: 700; } 
.ma_environment .databox .rightbox em { color: #2ebab4; } 

.ma_review_wrap { padding-bottom: 120px; background: url(../images/bg_ma_review.png) no-repeat center #f7f9fc; background-size: cover; } 
.ma_review_swiper { position: relative; margin: 53px -10px 0; padding: 0 10px 38px; overflow: hidden; } 
.ma_review_swiper .inbox { display: flex; align-items: flex-start; height: 100%; padding: 33px 26px 38px 24px; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.ma_review_swiper .userbox { flex: none; display: flex; justify-content: center; align-items: center; width: 44px; height: 44px; margin: 7px 20px 0 0; border-radius: 100%; color: #fff; font-size: 18px; line-height: 23px; } 
.ma_review_swiper .userbox.bg_skyblue { background-color: #197cff; } 
.ma_review_swiper .userbox.bg_mint { background-color: #2ebab4; } 
.ma_review_swiper .userbox.bg_gray { background-color: #666; } 
.ma_review_swiper .txtbox { flex: 1; } 
.ma_review_swiper .txtbox .tit { display: flex; align-items: center; height: 62px; } 
.ma_review_swiper .txtbox .tit .ellipsis { display: -webkit-box; font-size: 24px; line-height: 31px; font-weight: 700; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; } 
.ma_review_swiper .txtbox .txt { display: flex; height: 81px; margin-top: 16px; } 
.ma_review_swiper .txtbox .txt .ellipsis { display: -webkit-box; color: #666; font-size: 18px; line-height: 27px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; } 
.ma_review_swiper .txtbox .info_name { display: flex; margin-top: 21px; font-size: 18px; line-height: 23px; } 
.ma_review_swiper .txtbox .info_name .info { color: #2c3db8; font-weight: 600; } 
.ma_review_swiper .txtbox .info_name .name { color: #bfc3c7; } 
.ma_review_swiper .txtbox .info_name .name::before { content: "|"; margin: 0 4px; color: #e0e1e2; } 
.ma_review_swiper .swiper-pagination { display: flex; justify-content: center; bottom: 0; } 
.ma_review_swiper .swiper-pagination .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 3px; border-radius: 4px; background: #aab1bc; opacity: 1; } 
.ma_review_swiper .swiper-pagination .swiper-pagination-bullet-active { width: 20px; background: #2c3db8; } 

.ma_intro_wrap { padding-bottom: 120px; background: #fff; } 
.ma_intro_box { margin-top: 53px; } 
.ma_intro { display: flex; gap: 0 20px; } 
.ma_intro > li { flex: 1; } 
.ma_intro .inbox { display: flex; flex-direction: column; height: 100%; padding: 32px 40px 28px; border: 0.5px solid #e0e1e2; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px rgba(104, 111, 115, 0.15); } 
.ma_intro .inbox .txt { font-size: 28px; line-height: 36px; font-weight: 700; } 
.ma_intro .inbox .ico { width: 72px; height: 72px; margin-top: 24px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.ma_bn_kakao { display: block; margin-top: 30px; border-radius: 20px; overflow: hidden; } 
.ma_bn_kakao img { width: 100%; } 

.ma_news_wrap { padding-bottom: 120px; } 
.ma_news_wrap .title_box ~ .title_box { margin-top: 62px; } 
.ma_latest_news { position: relative; margin: 53px -10px 0; padding: 0 10px 38px; overflow: hidden; } 
.ma_latest_news .swiper-slide { height: auto; } 
.ma_latest_news .inbox { display: block; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); overflow: hidden; } 
.ma_latest_news .imgbox { position: relative; width: 100%; height: 0; padding-bottom: 45.5%; } 
.ma_latest_news .imgbox img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; } 
.ma_latest_news .txtbox { padding: 22px 24px 20px; } 
.ma_latest_news .txtbox .tit { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 62px; font-size: 24px; line-height: 31px; font-weight: 700; text-overflow: ellipsis; overflow: hidden; } 
.ma_latest_news .txtbox .source_date { display: flex; margin-top: 20px; } 
.ma_latest_news .txtbox .source_date .source { color: #666; font-size: 18px; line-height: 23px; } 
.ma_latest_news .txtbox .source_date .date { color: #bfc3c7; font-size: 18px; line-height: 23px; } 
.ma_latest_news .txtbox .source_date .date::before { content: "|"; margin: 0 4px; color: #e0e1e2; } 
.ma_latest_news .swiper-pagination { display: flex; justify-content: center; bottom: 0; } 
.ma_latest_news .swiper-pagination .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 3px; border-radius: 4px; background: #aab1bc; opacity: 1; } 
.ma_latest_news .swiper-pagination .swiper-pagination-bullet-active { width: 20px; background: #2c3db8; } ination-bullet-active { width: 1.6rem; background: #2c3db8; } 

.ma_rootnews_box { display: flex; justify-content: space-between; margin-top: 53px; } 
.ma_rootnews { flex: 1; margin-right: 20px; } 
.ma_rootnews > li + li { margin-top: 16px; } 
.ma_rootnews .inbox { display: block; position: relative; padding: 35px 40px 43px; border-radius: 20px; background: #e7eef9; } 
.ma_rootnews .inbox .cate { color: #197cff; font-size: 18px; line-height: 23px; } 
.ma_rootnews .inbox .tit { margin-top: 12px; font-size: 24px; line-height: 31px; font-weight: 700; } 
.ma_rootnews .inbox .ico { position: absolute; top: 50%; right: 20px; width: 30px; height: 30px; background-repeat: no-repeat; background-position: 0 center; background-size: contain; transform: translateY(-50%); } 
.ma_imgbn_swiper { flex: none; position: relative; width: 590px; overflow: hidden; } 
.ma_imgbn_swiper .inbox { display: block; border-radius: 20px; overflow: hidden; } 
.ma_imgbn_swiper .inbox img { width: 100%; height: 304px; object-fit: cover; } 
.ma_imgbn_swiper .swiper-pagination { display: flex; top: 20px; right: 20px; bottom: auto; left: auto; width: auto; } 
.ma_imgbn_swiper .swiper-pagination .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 0 0 8px; background: #e0e1e2; opacity: 0.5; } 
.ma_imgbn_swiper .swiper-pagination .swiper-pagination-bullet-active { background: #fff; opacity: 1; } 

.ma_white_wrap { padding: 46px 0; background: #fff; } 
.ma_white_wrap + .ma_white_wrap { border-top: 1px solid #e0e1e2; } 
.ma_white_wrap .inner_center { display: flex; } 
.ma_white_wrap .in_head { flex: none; position: relative; width: 407px; padding-left: 89px; } 
.ma_white_wrap .in_head .ico { position: absolute; top: -6px; left: 17px; width: 60px; height: 60px; background-repeat: no-repeat; background-position: center center; background-size: contain; } 
.ma_white_wrap .in_head .title { margin-bottom: 4px; font-size: 30px; line-height: 39px; font-weight: 700; } 
.ma_white_wrap .in_head .more { padding-right: 20px; background: url(../images/ico_arrow_right_16.svg) no-repeat right center; font-size: 16px; line-height: 21px; } 
.ma_white_wrap .in_cont { flex: 1; } 

.ma_faq > li + li { margin-top: 18px; } 
.ma_faq .titbox { display: flex; align-items: flex-start; } 
.ma_faq .titbox .ico { width: 29px; color: #2c3db8; font-size: 22px; line-height: 26px; font-weight: 500; } 
.ma_faq .titbox .tit { flex: 1; position: relative; padding-right: 28px; font-size: 20px; line-height: 26px; font-weight: 500; } 
.ma_faq .titbox .tit::before { content: ''; position: absolute; top: 4px; right: 0; width: 20px; height: 20px; background: url(../images/ico_arrow_right_20.svg) no-repeat center; background-size: contain; } 

.ma_notice > li + li { margin-top: 18px; } 
.ma_notice .inbox { display: flex; align-items: center; } 
.ma_notice .tit { flex: 1; font-size: 20px; line-height: 26px; font-weight: 500; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; } 
.ma_notice .date { flex: none; margin-left: 12px; color: #bfc3c7; font-size: 18px; line-height: 26px; } 

.ma_indicator_wrap .btn_view { position: absolute; top: 20px; right: 40px; padding-right: 20px; background: url(../images/ico_arrow_right_16.svg) no-repeat right center; font-size: 16px; line-height: 21px; } 
.ma_indicator_wrap .txt_desc { position: absolute; right: 40px; bottom: 14px; color: #666; font-size: 14px; line-height: 18px; font-weight: 300; } 
.ma_indicator { display: flex; justify-content: space-between; padding: 64px 0 62px; } 
.ma_indicator .itembox { flex: 1; height: 72px; padding-left: 30px; } 
.ma_indicator .itembox:first-child { flex: none; width: 377px; } 
.ma_indicator .itembox dt { font-size: 20px; line-height: 26px; font-weight: 500; } 
.ma_indicator .itembox dd { margin-top: 10px; font-size: 28px; line-height: 36px; font-weight: 700; } 
.ma_indicator_swp { position: relative; height: 72px; padding-right: 28px; overflow: hidden; } 
.ma_indicator_swp .swiper-button-next { top: 37px; right: 0; left: auto; width: 20px; height: 20px; margin: 0 0 0 18px; background: url(../images/ico_down_gray_20.svg) no-repeat center; overflow: hidden; } 
.ma_indicator_swp .swiper-button-prev { top: 13px; right: 0; left: auto; width: 20px; height: 20px; margin: 0 0 0 18px; background: url(../images/ico_up_gray_20.svg) no-repeat center; overflow: hidden; } 
.ma_indicator_swp .swiper-button-next:after, 
.ma_indicator_swp .swiper-button-prev:after { display: none; } 


/* title */
.title_box { display: flex; align-items: flex-start; margin-top: 102px; } 
.title_box .title { font-size: 50px; line-height: 70px; font-weight: 700; } 
.title_box .more { margin: 24px 0 0 auto; padding-right: 22px; background: url(../images/ico_more_gray.svg) no-repeat right center; color: #666; font-size: 18px; line-height: 23px; } 
.title_box .s_txt { margin: 80px 0 0 auto; color: #666; font-size: 14px; line-height: 18px; font-weight: 300; } 

/* button */
.btn_style { display: inline-flex; justify-content: center; align-items: center; min-width: 103px; padding: 0 20px; border: 1px solid #222; background: none; line-height: 1.3; font-weight: 700; } 
.btn_style.h60 { height: 60px; border-radius: 30px; font-size: 18px; font-weight: 400; } 
.btn_style.h70 { height: 70px; border-radius: 10px; font-size: 18px; font-weight: 400; } 
.btn_style.h80 { height: 80px; border-radius: 20px; font-size: 27px; } 
.btn_style.h90 { height: 90px; font-size: 36px; } 

.btn_style.bd_gray { border: 1px solid #bfc3c7; background: #fff; color: #a3a7ab; } 
.btn_style.bd_gray02 { border: 1px solid #e0e1e2; background: #fff; color: #666; } 
.btn_style.bd_gray03 { border: 1px solid rgba(224, 225, 226, 0.5); background: none; color: #fff; } 
.btn_style.bd_blue { border: 1px solid #2c3db8; background: #fff; color: #2c3db8; } 
.btn_style.bg_blue { border: 1px solid #2c3db8; background: #2c3db8; color: #fff; } 

.btn_box { display: flex; flex-wrap: wrap; align-items: center; } 
.btn_box .btn_style { flex: 1; } 
.btn_box .btn_style + .btn_style { margin-left: 20px; } 

/* form */
.flex_tit { display: flex; margin-top: 2rem; } 
.flex_tit .tit { margin: -0.4rem 0; color: #666; font-size: 1.2rem; line-height: 1.6rem; font-weight: 400; } 
.flex_input { display: flex; flex-wrap: wrap; align-items: center; margin-top: 1.2rem; } 
.flex_input > * + * { margin-left: 0.8rem; } 
.flex_input input.text { flex: 1; min-width: 0; height: 4.4rem; padding: 0 1.5rem; border: 0.1rem solid #f2f2f2; border-radius: 1rem; font-size: 1.4rem; line-height: 1.5; font-weight: 600; background: #fbfbfb; outline: none; } 
/* .flex_input input.text.wr, */
.flex_input input.text:focus { border-color: #2c3db8; } 
.flex_input input.text:disabled { background: #f2f2f2; } 

.flex_input textarea.textarea { flex: 1; min-width: 0; height: 12rem; padding: 1.2rem 1.5rem; border: 0.1rem solid #f2f2f2; border-radius: 1rem; font-size: 1.4rem; line-height: 1.5; font-weight: 600; background: #fbfbfb; outline: none; resize: none; } 
.flex_input textarea.textarea:focus { border-color: #2c3db8; } 
.flex_input textarea.textarea:disabled { background: #f2f2f2; } 

.flex_input select { display: none; } 
.flex_input .nice-select { flex: 1; display: flex; align-items: center; min-width: 0; height: 4.4rem; padding: 0 3.3rem 0 1.5rem; border: 0.1rem solid #f2f2f2; border-radius: 1rem; color: #a3a7ab; font-size: 1.3rem; line-height: 1.5; font-weight: 400; background: #fbfbfb; transition: none; } 
.flex_input .nice-select:after { right: 1.5rem; width: 1.4rem; height: 1.4rem; margin-top: -0.7rem; border: none; background: url(../images/arrow_select.svg) no-repeat center center/contain; transform: rotate(0); transform-origin: center; } 
.flex_input .nice-select .current { display: block; text-overflow: ellipsis; overflow: hidden; } 
.flex_input .nice-select .list { padding: 0.6rem; margin: 1.6rem 0; border: 0.1rem solid #2c3db8; border-radius: 1rem; background: #fbfbfb; } 
.flex_input .nice-select.open_up .list { top: auto !important; bottom: 100%; } 
.flex_input .nice-select .option { min-height: auto; padding: 1rem; border-radius: 0.5rem; color: #222; font-size: 1.4rem; line-height: 2rem; font-weight: 600; white-space: normal; } 
.flex_input .nice-select.wr { color: #222; font-size: 1.4rem; font-weight: 600; } 
.flex_input .nice-select .option:hover,
.flex_input .nice-select .option.focus,
.flex_input .nice-select .option.selected.focus { background-color: #ebf0f8; } 
.flex_input .nice-select .option.disabled { background-color: transparent !important; color: #a3a7ab; } 
.flex_input .nice-select.open { border-color: #2c3db8; } 
.flex_input .nice-select.open:after { background-image: url(../images/arrow_select_on.svg); transform: rotate(0); } 
.flex_input .select.ml0 + .nice-select,
.flex_input .select:first-child + .nice-select { margin-left: 0 !important; } 

.flex_input .label_box { margin-right: 3rem; margin-left: 0; } 

.flex_input .txt_unit { font-size: 1.7rem; line-height: 1.3; font-weight: 500; } 
.flex_input .txt_between { font-size: 1.4rem; line-height: 1.3; font-weight: 500; } 
.flex_input .txt_between,
.flex_input .txt_between + * { margin-left: 0.4rem; } 
.flex_input .txt_val { flex: 1; display: flex; align-items: center; min-height: 4.4rem; padding: 0 0 0 0.8rem; font-size: 1.4rem; line-height: 1.6rem; font-weight: 600; } 

.flex_input.code { position: relative; } 
.flex_input.code .code_time { position: absolute; top: 0; right: 7.8rem; color: #2c3db8; font-size: 1.1rem; line-height: 4.4rem; font-weight: 400; } 

.nice-select.select_blue { display: flex; align-items: center; min-width: 0; height: 49px; padding: 0 43px 0 20px; border-radius: 25px; border: 1px solid #e0e1e2; background: #fff; color: #666; font-size: 24px; line-height: 35px; font-weight: 400; transition: none; } 
.nice-select.select_blue:after { right: 20px; width: 15px; height: 10px; border: none; background: url(../images/ico_arrow_select_gray.svg) no-repeat center center/contain; transform: rotate(0); transform-origin: center; } 
.nice-select.select_blue .current { display: block; text-overflow: ellipsis; overflow: hidden; } 
.nice-select.select_blue .list { min-width: 183px; padding: 22px 0; margin: 12px 0; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.nice-select.select_blue .option { min-height: auto; padding: 7px 20px; border-radius: 0.5rem; color: #222; font-size: 22px; line-height: 32px; font-weight: 400; white-space: normal; } 
.nice-select.select_blue .option:hover,
.nice-select.select_blue .option.focus,
.nice-select.select_blue .option.selected.focus { background-color: transparent; color: #2c3db8; } 
.nice-select.select_blue.open:after { transform: rotate(0); } 
.nice-select.select_blue.open { background: #2c3db8; color: #fff; } 
.nice-select.select_blue.open:after { background-image: url(../images/ico_arrow_select_white.svg); } 

/* label_box */
.label_box { display: flex; } 
.label_box input { display: none; } 
.label_box label { display: inline-flex; align-items: center; } 
.label_box label::before { content: ""; width: 30px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.label_box input[type="checkbox"] + label::before { background-image: url(../images/checkbox_off.svg); } 
.label_box input[type="checkbox"]:checked + label::before { background-image: url(../images/checkbox_on.svg); } 
.label_box input[type="radio"] + label::before { background-image: url(../images/radio_off.svg); } 
.label_box input[type="radio"]:checked + label::before { background-image: url(../images/radio_on.svg); } 
.label_box label .txt { margin-left: 12px; font-size: 20px; line-height:30px; } 
.label_box label strong.txt { margin-left: 16px; font-size: 24px; } 

/* pop */
.pop_open { overflow: hidden; } 
.pop_container { display: none; flex-direction: column; position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding: 4.8rem 1.6rem; overflow-y: auto; z-index: 999; } 
.pop_mask { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: #222; opacity: 0.7; } 
.pop_wrapper { flex: 1; display: flex; flex-direction: column; justify-content: center; width: 100%; } 
.pop_box { position: relative; width: 100%; padding: 2.4rem 1.6rem 1.6rem; border-radius: 2rem; background: #fff; z-index: 1; } 
.pop_box .pop_title { font-size: 2rem; line-height: 1.4; font-weight: 700; text-align: center; } 
.pop_box .pop_msg { margin-top: 2rem; color: #393f44; font-size: 1.5rem; line-height: 1.3; font-weight: 600; text-align: center; } 
.pop_terms_tit { margin-top: 1.6rem; color: #393f44; font-size: 1.5rem; line-height: 1.3; font-weight: 600; text-align: center; } 
.pop_terms_txt { margin-top: 0.8rem; color: #666; font-size: 1.3rem; line-height: 1.5; font-weight: 400; } 

.pop_in_tit { margin-top: 1.6rem; color: #393f44; font-size: 1.5rem; line-height: 1.3; font-weight: 600; text-align: center; } 
.pop_in_txt { margin-top: 0.8rem; color: #666; font-size: 1.3rem; line-height: 1.5; font-weight: 400; text-align: center; } 

/* error */
.error_input { border-color: #ff5042 !important; } 
.error_msg { margin: -0.3rem 0; padding: 0 0.4rem; color: #ff5042; font-size: 1.1rem; line-height: 1.4rem; } 

/* choice_chips */
.choice_chips_wrap { display: flex; align-items: center; margin-top: 60px; } 
.choice_chips_wrap select { display: none; } 
.choice_chips_wrap .div_line { width: 1px; height: 39px; margin: 0 12px; background: #e0e1e2; } 
.choice_chips_wrap .sub_search { width: 387px; margin-left: auto; } 
.choice_chips { display: flex; align-items: center; } 
.choice_chips > li + li { margin-left: 8px; } 
.choice_chips a { display: inline-flex; align-items: center; height: 100%; min-height: 49px; padding: 6px 20px; border: 1px solid #e0e1e2; border-radius: 25px; background: #fff; color: #666; font-size: 24px; line-height: 35px; text-align: center; } 
.choice_chips a.active { border-color: #2c3db8; color: #2c3db8; } 

.sub_search { display: flex; position: relative; } 
.sub_search input { width: 100%; height: 49px; padding: 0 45px 0 20px; border: 1px solid #e0e1e2; border-radius: 25px; background: #fff; font-size: 20px; line-height: 26px; outline: none; } 
.sub_search .btn_search { position: absolute; top: 50%; right: 13px; width: 32px; height: 32px; margin-top: -16px; background: url(../images/ico_sub_search.svg) no-repeat center; text-indent: -999px; overflow: hidden; } 

/* progress */
.progress_group { position: relative; } 
.progress_group .txt_info { display: flex; justify-content: flex-end; margin-bottom: 8px; } 
.progress_group .txt_info > p { display: flex; align-items: center; font-size: 24px; line-height: 70px; font-weight: 700; } 
.progress_group .txt_info > p + p { margin-left: 30px; } 
.progress_group .txt_info > p em { margin: -15px 4px 0; font-size: 50px; font-weight: 700; } 

.progress_group .flex_dl { display: flex; justify-content: space-between; margin-bottom: 33px; text-align: center; } 
.progress_group .flex_dl dl { display: flex; flex-direction: column; justify-content: center; align-items: center; } 
.progress_group .flex_dl dl dt { position: relative; color: #666; font-size: 20px; line-height: 26px; font-weight: 400; } 
.progress_group .flex_dl dl dt.point::before { content: ''; position: absolute; top: -1px; right: -12px; width: 8px; height: 8px; border-radius: 100%; background: #197cff; } 
.progress_group .flex_dl dl dd { margin-top: 15px; font-size: 36px; line-height: 43px; font-weight: 700; } 
.progress_group .flex_dl dl dd.small { font-size: 30px; } 

.progress_group .progress_bar { position: relative; height: 6px; border-radius: 6px; } 
.progress_group .progress_bar.over { background-color: #e0e1e2; } 
.progress_group .progress_bar::before { content: ''; position: absolute; bottom: 2px; left: 0; width: 100%; height: 1px; border-radius: 6px; background-color: #e0e1e2; } 
.progress_group.over .progress_bar::before { bottom: 0; height: 6px; } 
.progress_group .progress_bar .val { position: absolute; top: 0; bottom: 0; left: 0; border-radius: 6px; background: linear-gradient(270deg, #495ad8 0%, #77abf8 100%); z-index: 1; } 

.progress_group .progress_bar .tip { position: absolute; bottom: 100%; right: 0; margin-bottom: 20px; padding: 4px 12px 5px; border: 1px solid #222; font-size: 15px; line-height: 19px; font-weight: 500; border-radius: 5px; white-space: nowrap; } 
.progress_group .progress_bar .tip::before { content: ''; position: absolute; top: 100%; right: 24px; width: 13px; height: 6px; background-repeat: no-repeat; background-position: center bottom; background-size: contain; } 
.progress_group .progress_bar .tip.bg_blue { border-color: #197cff; background-color: #197cff; color: #fff; } 
.progress_group .progress_bar .tip.bg_blue::before { background-image: url(../images/ico_tip_up_bgblue.png); transform: rotate(180deg); } 
.progress_group .progress_bar .tip em { font-weight: 600; } 

.progress_group .progress_info { display: flex; align-items: center; margin-top: 9px; } 
.progress_group .progress_info .total { flex: 1; color: #bfc3c7; font-size: 16px; line-height: 23px; font-weight: 500; } 
.progress_group .progress_info .total em { color: #393f44; font-weight: 700; } 
.progress_group .progress_info .pct { position: relative; color: #393f44; font-size: 18px; line-height: 23px; font-weight: 700; } 
.progress_group .progress_info .pct .tip { position: absolute; top: 100%; right: -18px; margin-top: 14px; padding: 5px 10px; border: 0.1rem solid #222; font-size: 14px; line-height: 18px; font-weight: 400; border-radius: 5px; white-space: nowrap; } 
.progress_group .progress_info .pct .tip::before { content: ''; position: absolute; bottom: 100%; right: 36px; width: 13px; height: 6px; background-repeat: no-repeat; background-position: center bottom; background-size: contain; } 
.progress_group .progress_info .pct .tip.bg_blue { border-color: #197cff; background-color: #197cff; color: #fff; } 
.progress_group .progress_info .pct .tip.bg_blue::before { background-image: url(../images/ico_tip_up_bgblue.png); } 
.progress_group .progress_info .pct .tip.bg_blue em { font-weight: 600; } 
.progress_group .progress_info .pct .tip.bd_blue { border-color: #197cff; background-color: #fff; color: #393f44; font-weight: 600; } 
.progress_group .progress_info .pct .tip.bd_blue::before { background-image: url(../images/ico_tip_up_bdblue.png); } 
.progress_group .progress_info .pct .tip.bd_blue em { color: #197cff; font-weight: 600; } 

.product_view .progress_group .progress_info { margin-top: 16px; } 
.product_view .progress_group .progress_info .total { font-size: 18px; font-weight: 400; } 
.product_view .progress_group .progress_info .total em { font-weight: 400; } 
.product_view .progress_group .progress_info .pct { font-size: 20px; font-weight: 600; } 


/* sub */
.sub_title_box { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 45px; } 
.sub_title_box.center { justify-content: center !important; text-align: center !important; } 
.sub_title_box .title { font-size: 40px; line-height: 52px; font-weight: 700; } 
.sub_title_box .title_p { width: 100%; margin-top: 30px; color: #666; font-size: 20px; line-height: 30px; } 

.sub_c_title_box { display: flex; flex-wrap: wrap; margin-top: 50px; } 
.sub_c_title_box .title { font-size: 23px; line-height: 30px; font-weight: 700; } 

.sub_location { display: flex; align-items: center; margin-top: 20px; } 
.sub_location > li + li { position: relative; padding-left: 29px; } 
.sub_location > li + li::before { content: ''; position: absolute; top: 50%; left: 14px; width: 1px; height: 14px; margin-top: -7px; background: #e0e1e2; } 
.sub_location a,
.sub_location em { display: block; color: #666; font-size: 16px; line-height: 22px; font-weight: 500; } 
.sub_location a.home { width: 18px; height: 18px; margin: 2px 0; background: url(../images/ico_home_18.svg) no-repeat center; text-indent: -999px; overflow: hidden; } 
.sub_head_wrap { display: flex; flex-direction: column; } 
.sub_head_wrap .inner_center { flex: 1; display: flex; } 
.sub_head_wrap .title { flex: 1; display: flex; justify-content: center; align-items: center; padding-top: 10px; color: #fff; font-size: 40px; line-height: 56px; font-weight: 700; text-align: center; } 
.sub_head_wrap.bg_blue { min-height: 179px; background: #2c3db8; } 
.sub_head_wrap.bg_blue .sub_location { position: absolute; } 
.sub_head_wrap.bg_blue .sub_location > li + li::before { opacity: 0.5; } 
.sub_head_wrap.bg_blue .sub_location a,
.sub_head_wrap.bg_blue .sub_location em { color: #fff; } 
.sub_head_wrap.bg_blue .sub_location a.home { background-image: url(../images/ico_home_white_18.svg); } 

.sub_review { display: flex; justify-content: space-between; margin-top: -20px; } 
.sub_review > li { flex: 1; } 
.sub_review > li + li { margin-left: 20px; } 
.sub_review .inbox { display: flex; align-items: flex-start; height: 100%; padding: 24px 24px 29px; border-radius: 20px; background: #fff; } 
.sub_review .userbox { flex: none; display: flex; justify-content: center; align-items: center; width: 44px; height: 44px; margin: 6px 20px 0 0; border-radius: 100%; color: #fff; font-size: 18px; line-height: 23px; font-weight: 700; } 
.sub_review .userbox.bg_skyblue { background-color: #197cff; } 
.sub_review .userbox.bg_mint { background-color: #2ebab4; } 
.sub_review .userbox.bg_gray { background-color: #666; } 
.sub_review .txtbox { flex: 1; } 
.sub_review .txtbox .tit { display: flex; align-items: center; height: 52px; } 
.sub_review .txtbox .tit .ellipsis { display: -webkit-box; font-size: 20px; line-height: 26px; font-weight: 700; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; } 
.sub_review .txtbox .info_name { display: flex; margin-top: 13px; font-size: 16px; line-height: 21px; } 
.sub_review .txtbox .info_name .info { color: #2c3db8; } 
.sub_review .txtbox .info_name .name { color: #bfc3c7; } 
.sub_review .txtbox .info_name .name::before { content: "|"; margin: 0 4px; color: #e0e1e2; } 

.product_list { display: flex; flex-wrap: wrap; gap: 30px 20px; margin-top: 25px; } 
.product_list > li { flex: 1 1 calc(50% - 10px); } 
.product_list .inbox { display: flex; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.product_list .inbox .imgbox { flex: none; position: relative; width: 182px; height: 323px; border-radius: 20px 0 0 20px; overflow: hidden; } 
.product_list .inbox .imgbox img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; } 
.product_list .inbox.over .imgbox img { filter: grayscale(1); } 
.product_list .inbox .imgbox .status { display: flex; align-items: center; position: absolute; top: 20px; left: 20px; padding: 0 12px; border-radius: 14px; background: rgba(34, 34, 34, 0.5); } 
.product_list .inbox .imgbox .status .txt { color: #fff; font-size: 18px; line-height: 28px; font-weight: 500; } 
.product_list .inbox .imgbox .status .txt::after { content: '|'; margin: 0 6px; font-weight: 400; opacity: 0.3; } 
.product_list .inbox .imgbox .status .ico { width: 15px; height: 16px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.product_list .inbox .imgbox .tag { display: flex; justify-content: center; align-items: center; position: absolute; bottom: 20px; left: 20px; width: 60px; height: 60px; border-radius: 100%; background: #2ebab4; color: #fff; font-size: 14px; line-height: 17px; font-weight: 600; text-align: center; } 
.product_list .inbox .txtbox { flex: 1; display: flex; flex-direction: column; padding: 42px 30px 30px; border: 1px solid #e0e1e2; border-left: none; border-radius: 0 20px 20px 0; } 
.product_list .inbox .txtbox .title { margin-bottom: auto; font-size: 28px; line-height: 36px; font-weight: 700; } 

.paging { display: flex; justify-content: center; align-items: center; margin: 80px 0; } 
.paging > a { margin: 0 15px; color: #bfc3c7; font-size: 20px; line-height: 24px; font-weight: 400; } 
.paging > a.active { color: #2c3db8; font-weight: 600; } 
.paging > .btn img { width: 24px; height: 24px; object-fit: contain; } 

.sub_imgbn_swiper { position: relative; margin-top: 34px; margin-bottom: 60px; overflow: hidden; } 
.sub_imgbn_swiper .inbox { display: block; border-radius: 20px; overflow: hidden; } 
.sub_imgbn_swiper .inbox img { width: 100%; height: 186px; object-fit: cover; } 
.sub_imgbn_swiper .swiper-pagination { display: flex; top: 20px; right: 20px; bottom: auto; left: auto; width: auto; } 
.sub_imgbn_swiper .swiper-pagination .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 0 0 8px; background: #e0e1e2; opacity: 0.5; } 
.sub_imgbn_swiper .swiper-pagination .swiper-pagination-bullet-active { background: #fff; opacity: 1; } 

.notif_orange_wrap { background: #f18827; } 
.notif_orange { position: relative; padding: 0 75px 0 46px; } 
.notif_orange .btn_close { position: absolute; top: 50%; left: 10px; width: 16px; height: 16px; margin-top: -8px; background: url(../images/ico_close_white_16.svg) no-repeat center/contain; } 
.notif_orange .inbox { display: flex; justify-content: space-between; align-items: center; padding: 24px 44px 24px 0; background: url(../images/ico_arrow_orange.svg) no-repeat right center/24px; color: #fff; font-size: 18px; line-height: 24px; } 
.notif_orange .inbox .amount { font-weight: 600; } 

.sub_username { display: flex; align-items: center; margin-top: 52px; padding: 40px; border: 1px solid rgba(224, 225, 226, 0.50); border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.sub_username dt { width: 160px; margin-right: 20px; color: #666; font-size: 20px; line-height: 36px; font-weight: 400; } 
.sub_username dd { color: #222; font-size: 24px; line-height: 36px; font-weight: 600; } 

.radio_list { margin-top: 20px; border: 1px solid rgba(224, 225, 226, 0.50); border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.radio_list > li { display: flex; flex-wrap: wrap; align-items: center; } 
.radio_list > li + li { border-top: 1px solid rgba(224, 225, 226, 0.50); } 
.radio_list .label_box { margin-left: 40px; } 
.radio_list .in_head { flex: 1; position: relative; margin-left: 30px; padding: 40px 40px 40px 0; cursor: pointer; } 
.radio_list .in_head::before { content: ''; position: absolute; top: 50%; right: 40px; width: 30px; height: 30px; margin-top: -15px; background: url(../images/ico_arrow_select_gray_30.svg) no-repeat center/contain; transition: .2s; } 
.radio_list .in_head.on::before { transform: rotate(180deg); } 
.radio_list .in_head .tit { font-size: 28px; line-height: 36px; font-weight: 700; } 
.radio_list .in_head .tit_p { margin-top: 6px; color: #666; font-size: 20px; line-height: 26px; } 
.radio_list .in_head .tit_p em { color: #2c3db8; } 
.radio_list .in_cont { display: none; width: 100%; padding: 40px; border-top: 1px solid rgba(224, 225, 226, 0.50); } 
.radio_list .in_cont .tit { font-size: 24px; line-height: 31px; font-weight: 700; } 
.radio_list .in_cont .txt { color: #666; font-size: 20px; line-height: 30px; font-weight: 400; } 
.radio_list .in_cont .tit ~ .tit { margin-top: 35px; } 
.radio_list .in_cont .tit + .txt { margin-top: 25px; } 
.radio_list .in_cont .stit { margin-top: 14px; color: #666; font-size: 20px; line-height: 30px; font-weight: 600; } 

.form_fileupload_wrap { margin-top: 20px; padding: 50px 40px; border: 1px solid rgba(224, 225, 226, 0.50); border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.form_fileupload { display: flex; align-items: flex-start; } 
.form_fileupload .title { flex: none; width: 164px; color: #666; font-size: 20px; line-height: 26px; font-weight: 400; } 
.form_fileupload .cont { flex: 1; } 
.form_fileupload .btn_conf { display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 109px; padding: 12px; border-radius: 10px; background: #eff3fa; color: #2c3db8; font-size: 24px; line-height: 36px; font-weight: 600; text-align: center; } 
.fileupload_box { margin-top: 20px; } 
.fileupload_box input[type='file'] { display: none; } 
.fileupload_box label { display: flex; justify-content: center; align-items: center; padding: 42px; border: 1px dashed #bfc3c7; border-radius: 10px; } 
.fileupload_box label .ico { width: 26px; height: 34px; background: url(../images/ico_fileupload.svg) no-repeat center/contain; } 
.fileupload_box label .txt { margin-left: 20px; color: #a3a7ab; font-size: 20px; line-height: 26px; } 
.filename_box { display: flex; align-items: center; margin-top: 20px; padding: 16px 20px; border: 1px solid #e0e1e2; border-radius: 10px; background: #f6f6f6; } 
.filename_box .filename { margin-right: 20px; font-size: 24px; line-height: 36px; font-weight: 600; } 
.filename_box .btn_del { flex: none; width: 16px; height: 16px; margin-left: auto; background: url(../images/ico_del_16.svg) no-repeat center/contain; } 

.txt_notif { position: relative; padding-left: 52px; margin-top: 30px; color: #a3a7ab; font-size: 16px; line-height: 24px; } 
.txt_notif::before { content: ''; position: absolute; top: 0; left: 20px; width: 24px; height: 24px; background: url(../images/ico_notif.svg) no-repeat center/contain; } 
.txt_notif .mailto { color: #666; } 

.success_container { flex: 1; display: flex; flex-direction: column; justify-content: center; } 
.success_container.flex_start { flex:none; justify-content: flex-start; } 
.success_wrapper { display: flex; flex-direction: column; align-items: center; margin-top: 40px; text-align: center; } 
.success_wrapper .success_ico { width: 80px; height: 80px; background: url(../images/ico_success.svg) no-repeat center; background-size: contain; } 
.success_wrapper .success_msg { margin-top: 38px; font-size: 40px; line-height: 52px; font-weight: 700; } 
.success_wrapper .success_desc { margin-top: 30px; color: #393f44; font-size: 20px; line-height: 30px; } 
.success_wrapper .success_join_tit { font-size: 40px; line-height: 52px; font-weight: 700; } 
.success_wrapper .success_join_ico { width: 142px; height: 143px; margin-top: 30px; background: url(../images/ico_celebration.svg) no-repeat center/contain; } 
.success_wrapper .success_join_txt { margin-top: 40px; color: #393f44; font-size: 20px; line-height: 30px; font-weight: 400; } 

.product_view .prd_num { margin-top: 30px; color: #393f44; font-size: 22px; line-height: 33px; font-weight: 400; text-align: center; } 
.product_view .prd_name { margin-top: 9px; font-size: 40px; line-height: 52px; font-weight: 700; text-align: center; } 
.product_view .prd_date { margin-top: 18px; color: #a3a7ab; font-size: 20px; line-height: 26px; font-weight: 400; text-align: center; } 
.product_view .prd_imgbox { position: relative; width: 160px; height: 160px; margin: 38px auto 0; } 
.product_view .prd_imgbox .img { width: 160px; height: 160px; border-radius: 100%; object-fit: cover; } 
.product_view .prd_imgbox .s_img { position: absolute; right: -46px; bottom: 0; width: 93px; height: 93px; object-fit: cover; } 
.product_view .progress_group { margin: 60px 157px 0; } 

.detail_introbox { margin-top: 54px; border: 1px solid rgba(224, 225, 226, 0.50); border-radius: 20px; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); background: #fff; } 
.detail_intro { position: relative; padding: 39px 60px 26px; background: url(../images/bg_detail_intro.png) no-repeat right 28px bottom; } 
.detail_intro .title { font-size: 36px; line-height: 47px; font-weight: 700; } 
.detail_intro .title em { color: #197cff; } 
.detail_intro .revenue_dl_group { display: flex; flex-wrap: wrap; align-items: center; margin: 23px 0; } 
.detail_intro .revenue_dl { display: flex; flex-direction: column; margin-right: 40px; } 
.detail_intro .revenue_dl dt { color: #666; font-size: 20px; line-height: 26px; font-weight: 400; } 
.detail_intro .revenue_dl dd { margin-top: 8px; color: #393f44; font-size: 22px; line-height: 29px; font-weight: 600; } 
.detail_eco { padding: 33px 60px 44px; border-top: 1px solid #e0e1e2; } 
.detail_eco .title { font-size: 23px; line-height: 30px; font-weight: 700; } 
.detail_eco .eco_list { display: flex; justify-content: space-between;  margin-top: 30px;  } 
.detail_eco .eco_list > li { display: flex; flex-direction: column; position: relative; padding-left: 56px; }
.detail_eco .eco_list .imgbox { position: absolute; top: 50%; left: 0; transform: translateY(-50%); } 
.detail_eco .eco_list .imgbox img { width: 48px; } 
.detail_eco .eco_list .tit { color: #666; font-size: 20px; line-height: 26px; font-weight: 400; } 
.detail_eco .eco_list .val { margin-top: 8px; font-size: 20px; line-height: 26px; font-weight: 600; } 

.star_notif { position: relative; padding-left: 0.7rem; color: #a3a7ab; font-size: 1.1rem; line-height: 1.5; font-weight: 400; letter-spacing: -0.03em; text-indent: -0.7rem; } 
.star_notif + .star_notif { margin-top: 0.2rem; } 

.detail_infobox { margin: 2.4rem 1.6rem 4rem; padding: 2rem 2rem 3rem; border-radius: 1rem; box-shadow: 0 0.2rem 0.8rem 0 rgba(81, 108, 137, 0.05); background: #fff; } 
.detail_infobox .title { font-size: 1.8rem; line-height: 1.4; font-weight: 700; word-break: keep-all; } 
.detail_infotab { display: flex; margin: 3.2rem 0 1.2rem; } 
.detail_infotab > li { flex: 1; opacity: 0.5; } 
.detail_infotab .inbox { display: flex; flex-direction: column; position: relative; height: 100%; padding: 1.6rem 0.8rem; border: 0.1rem solid transparent; border-radius: 1rem; text-align: center; } 
.detail_infotab .inbox .di_type { display: none; position: absolute; top: -1rem; left: 50%; padding: 0 0.8rem; border-radius: 0.9rem; background: #2c3db8; color: #fff; font-size: 1.1rem; line-height: 1.8rem; font-weight: 500; white-space: nowrap; transform: translateX(-50%); } 
.detail_infotab .inbox .imgbox { display: flex; justify-content: center; align-items: center; width: 4.2rem; height: 4.2rem; margin: 0 auto; } 
.detail_infotab .inbox .tit { margin-top: 0.5rem; font-size: 1.4rem; line-height: 1.4; font-weight: 600; } 
.detail_infotab .inbox .tag { margin-top: 0.4rem; color: #666; font-size: 1.1rem; line-height: 1.4; font-weight: 400; } 
.detail_infotab > li.active { opacity: 1; } 
.detail_infotab > li.active .inbox { border-color: #2c3db8; } 
.detail_infotab > li.active .inbox .di_type { display: block; } 
.detail_infotab_con { display: none; } 
.detail_infotab_con.active { display: block; } 
.detail_infotab_con .numtit { position: relative; margin-top: 2rem; padding-left: 2.4rem; color: #2c3db8; font-size: 1.7rem; line-height: 1.3; font-weight: 700; } 
.detail_infotab_con .numtit .num { position: absolute; top: 0.3rem; left: 0; min-width: 1.6rem; padding: 0 0.4rem; border-radius: 0.8rem; background: #2c3db8; color: #fff; font-size: 1.2rem; line-height: 1.6rem; font-weight: 600; text-align: center; } 
.detail_infotab_con .txt { margin-top: 1rem; color: #393f44; font-size: 1.4rem; line-height: 1.5; font-weight: 600; } 

.detail_togglebox { margin-top: 0.8rem; background: #fff; box-shadow: 0 0.1rem 0 0 rgba(224, 225, 226, 0.50); } 
.detail_togglebox .in_title { display: flex; align-items: center; position: relative; height: 5.5rem; padding: 0 4rem 0 2rem; font-size: 1.7rem; line-height: 1.3; font-weight: 700; cursor: pointer; } 
.detail_togglebox .in_title::before { content: ''; position: absolute; top: 50%; right: 1.8rem; width: 1.4rem; height: 1.4rem; margin-top: -0.7rem; background: url(../images/arrow_select.svg) no-repeat center/contain; transition: .2s; } 
.detail_togglebox .in_title.on::before { transform: rotate(180deg); } 
.detail_togglebox .in_cont { display: none; } 

.expert_box { padding: 2rem 2rem 2.4rem; } 
.expert_box .expert_info { display: flex; align-items: center; } 
.expert_box .expert_info .imgbox { flex: none; margin-right: 0.8rem; } 
.expert_box .expert_info .imgbox img { width: 4rem; height: 4rem; } 
.expert_box .expert_info .txtbox .name { color: #393f44; font-size: 1.2rem; line-height: 1.3; } 
.expert_box .expert_info .txtbox .pos { color: #bfc3c7; font-size: 1.2rem; line-height: 1.3; } 
.expert_box .expert_txt { margin-top: 1.6rem; color: #666; font-size: 1.4rem; line-height: 1.5; } 
.expert_box .expert_cert { margin-top: 0.8rem; color: #bfc3c7; font-size: 1.2rem; line-height: 1.3; } 

.content_wrap { padding: 1rem 1.6rem 3.6rem; } 
.content_wrap .imgbox { padding-bottom: 0.4rem; border-radius: 1rem; overflow: hidden; } 
.content_wrap .imgbox img { width: 100%; } 
.content_wrap .tit { padding: 0 0.4rem; margin-top: 2rem; color: #393f44; font-size: 1.6rem; line-height: 1.5; font-weight: 700; } 
.content_wrap .txts { padding: 0 0.4rem; margin-top: 0.8rem; } 
.content_wrap .txts > li { position: relative; padding-left: 0.9rem; color: #666; font-size: 1.4rem; line-height: 1.5; } 
.content_wrap .txts > li .poa { position: absolute; top: 0; left: 0; } 