/* margin, padding */
.mt0 { margin-top: 0 !important; } 

/* color */
.color_blue { color: #2c3db8 !important; } 
.color_mint { color: #2ebab4 !important; } 
.color_red { color: #ff5042 !important; } 
.color_black { color: #393f44 !important; } 
.color_gray { color: #666 !important; } 

/* font */
.f16 { font-size: 16px !important; } 
.f18 { font-size: 18px !important; } 
.f20 { font-size: 20px !important; } 
.f22 { font-size: 22px !important; } 
.f24 { font-size: 24px !important; } 

.fw300 { font-weight: 300 !important; } 
.fw400 { font-weight: 400 !important; } 
.fw500 { font-weight: 500 !important; } 
.fw600 { font-weight: 600 !important; } 
.fw700 { font-weight: 700 !important; } 

.underline { text-decoration: underline !important; } 

/* common */
.inner_center { position: relative; max-width: 1280px; margin: 0 auto; padding: 0 40px; } 
.wid_full { width: 100% !important; } 
.flex_none { flex: none !important; } 

/* wrap */
#wrap { display: flex; flex-direction: column; min-width: 1280px; min-height: 100vh; } 

/* header */
.top_pop { position: relative; width: 100%; min-width: 1280px; height: 48px; margin: 0 auto; overflow: hidden; transition: .2s; } 
.top_pop.hide { height: 0; } 
.top_pop .banner { position: absolute; top: 0; left: 50%; transform: translateX(-50%); } 
.top_pop .btn_close { position: absolute; top: 50%; left: 50%; width: 16px; height: 16px; margin-left: -600px; background: url(../images/ico_close_white_16.svg) no-repeat center; transform: translateY(-50%); } 

#header { position: relative; border-bottom: 1px solid #dde3ec; background: #fff; z-index: 50; } 
#header .inner_center { display: flex; align-items: center; } 
#header .logo { margin-right: 50px; } 
#header .logo a { display: block; width: 205px; height: 23px; background: url(../images/logo.svg) no-repeat center; text-indent: -999px; overflow: hidden; } 
.gnb_box .gnb { display: flex; } 
.gnb_box .gnb > li { position: relative; } 
.gnb_box .gnb > li > a { display: block; position: relative; padding: 35px 30px; color: #000; font-size: 22px; line-height: 30px; font-weight: 700; } 
.gnb_box .gnb > li > a.in_ul span::before { content: ''; position: absolute; bottom: 18px; left: 50%; width: 0; height: 3px; background: #2c3db8; transform: translateX(-50%); transition: .2s; } 
.gnb_box .gnb > li > a.in_ul span::after { content: ''; position: absolute; top: 50%; right: 16px; width: 10px; height: 7px; background: url(../images/ico_gnb_arrow.svg) no-repeat center; transform: translateY(-50%); } 
.gnb_box .gnb > li > .depth { position: absolute; top: 100%; left: 50%; width: 180px; max-height: 0; border-radius: 10px; transform: translateX(-50%); overflow: hidden; transition: all 0.2s cubic-bezier(0, 1, 0, 1); } 
.gnb_box .gnb > li > .depth > ul { padding: 18px 0; border: 1px solid #2c3db8; border-radius: 10px; background: #fff; } 
.gnb_box .gnb > li > .depth > ul > li + li { margin-top: 8px; } 
.gnb_box .gnb > li > .depth > ul > li > a { display: block; color: #666; font-size: 20px; line-height: 26px; font-weight: 400; text-align: center; transition: .2s; } 
.gnb_box .gnb > li > .depth > ul > li > a:hover { color: #2c3db8; font-weight: 600; } 
.gnb_box .gnb > li:hover > a.in_ul span::before { width: calc(100% - 52px); } 
.gnb_box .gnb > li:hover > .depth { max-height: 300px; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); transition: all .4s ease-in-out; } 
#header .head_right { display: flex; align-items: center; margin-left: auto; } 
#header .head_right .btn_login { padding: 0 20px; margin: 0 4px; border: 1px solid #2c3db8; border-radius: 20px; background: #fff; color: #2c3db8; font-size: 16px; line-height: 37px; } 
#header .head_right .btn_join { padding: 0 20px; margin: 0 4px; border: 1px solid #2c3db8; border-radius: 20px; background: #2c3db8; color: #fff; font-size: 16px; line-height: 37px; } 
#header .head_right .btn { margin-left: 16px; } 

.all_menu { position: absolute; top: 0; right: 0; left: 0; min-width: 1280px; max-height: 0; background: #2c3db8; overflow: hidden; transition: all 0.2s cubic-bezier(0, 1, 0, 1); z-index: 60; } 
.all_menu .inner_center { display: flex; min-height: 100vh; padding-top: 180px; padding-bottom: 16px; } 
.all_menu .btn_close { position: absolute; top: 40px; right: 40px; width: 56px; height: 56px; background: url(../images/ico_close_white_56.svg) no-repeat center; } 
.all_menu .menu_left { flex: 1; display: flex; flex-direction: column; padding-right: 122px; } 
.all_menu .menu_head { display: flex; justify-content: space-between; align-items: flex-start; } 
.all_menu .menu_head .txt_welcome { margin: 15px auto 0 0; color: #fff; font-size: 50px; line-height: 65px; font-weight: 700; } 
.all_menu .menu_info { flex: 1; display: flex; flex-direction: column; } 
.all_menu .menu_info .loginjoin { display: flex; margin: 45px 0; } 
.all_menu .menu_info .loginjoin > li + li { position: relative; margin-left: 49px; } 
.all_menu .menu_info .loginjoin > li + li::before { content: ''; position: absolute; top: 50%; left: -25px; width: 1px; height: 25px; background: #d9d9d9; opacity: 0.2; transform: translateY(-50%); } 
.all_menu .menu_info .loginjoin a { display: block; position: relative; color: #fff; font-size: 30px; line-height: 39px; font-weight: 600; } 
.all_menu .menu_info .loginjoin a .tip { position: absolute; top: calc(100% + 8px); left: 50%; padding: 5px 12px; border-radius: 5px; background: #2ebab4; color: #fff; font-size: 14px; line-height: 18px; font-weight: 600; white-space: nowrap; transform: translateX(-50%); } 
.all_menu .menu_info .loginjoin a .tip::before { content: ''; position: absolute; bottom: 100%; left: 50%; border: 6px solid transparent; border-bottom-color: #2ebab4; transform: translateX(-50%); } 
.all_menu .menu_info .menu_main { display: flex; margin: auto 0 110px; } 
.all_menu .menu_info .menu_main > li + li { margin-left: 20px; } 
.all_menu .menu_info .menu_main a { display: block; } 
.all_menu .menu_right { flex: none; width: 610px; } 
.all_menu .menu_list > li { display: flex; justify-content: space-between; align-items: center; padding: 28px 8px; border-bottom: 1px solid rgba(217, 217, 217, 0.1); } 
.all_menu .menu_list > li > a { display: flex; align-items: center; } 
.all_menu .menu_list > li > a .ico { width: 36px; height: 36px; margin-right: 20px; background-repeat: no-repeat; background-position: center; } 
.all_menu .menu_list > li > a span { color: #fff; font-size: 40px; line-height: 52px; font-weight: 600; } 
.all_menu .menu_list > li > .depth { flex: none; display: flex; align-items: center; width: 311px; } 
.all_menu .menu_list > li > .depth > li { margin-right: 30px; } 
.all_menu .menu_list > li > .depth > li > a { color: #fff; font-size: 20px; line-height: 26px; } 
.all_menu .menu_list > li > .depth > li > a:hover { text-decoration: underline; } 

.openMenu { width: 100%; height: 100%; overflow: hidden; } 
.openMenu .all_menu { max-height: 1024px; transition: all .4s ease-in-out; } 

/* container */
#container { flex: 1; display: flex; flex-direction: column; } 

/* footer */
#footer { margin-top: 1.5rem; padding: 2.4rem 1.6rem 3rem; background: #222; } 
 

/* main */
.ma_visual { position: relative; padding: 55px 0; } 
.ma_visual .bg_img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url(../images/bg_ma_visual.png) no-repeat center #197cff; background-size: cover; } 
.visual_swp { position: relative; } 
.visual_swp .inbox { display: flex; } 
.visual_swp .inbox .imgbox { flex: none; position: relative; width: 590px; border-radius: 20px; overflow: hidden; } 
/* .visual_swp .inbox .imgbox::before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%) } */
.visual_swp .inbox .imgbox > img { width: 590px; height: 310px; object-fit: cover; } 
.visual_swp .inbox .imgbox .status { position: absolute; top: 20px; left: 30px; padding: 0 12px; border-radius: 5px; background: #222; color: #fff; font-size: 18px; line-height: 29px; font-weight: 600; } 
.visual_swp .inbox .imgbox .status.bg_red { background: #db2852; } 
.ma_progress_group { position: absolute; right: 30px; bottom: 20px; left: 30px; } 
.ma_progress_group .progress_bar { position: relative; height: 6px; border-radius: 3px; } 
.ma_progress_group .progress_bar::before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #fff; opacity: 0.7; } 
.ma_progress_group .progress_bar .val { position: absolute; top: 0; bottom: 0; left: 0; border-radius: 3px; background: #fff; z-index: 1; } 
.ma_progress_group .progress_info { display: flex; align-items: flex-start; margin-top: 7px; color: #fff; } 
.ma_progress_group .progress_info .total { flex: 1; margin-top: 3px; font-size: 18px; line-height: 23px; } 
.ma_progress_group .progress_info .pct { position: relative; font-size: 26px; line-height: 34px; font-weight: 700; } 
.visual_swp .inbox .txtbox { flex: 1; padding-top: 40px; margin-left: 63px; } 
.visual_swp .inbox .txtbox .tag_box { display: flex; align-items: center; } 
.visual_swp .inbox .txtbox .tag_box .tag { margin-right: 10px; color: #fff; font-size: 20px; line-height: 26px; font-weight: 500; } 
.visual_swp .inbox .txtbox .tit { margin-top: 8px; color: #fff; font-size: 44px; line-height: 62px; font-weight: 700; } 
.visual_swp .inbox .txt_info { display: flex; margin-top: 69px; } 
.visual_swp .inbox .txt_info > p { display: flex; align-items: flex-start; color: #fff; font-size: 20px; line-height: 26px; font-weight: 500; } 
.visual_swp .inbox .txt_info > p + p { margin-left: 40px; } 
.visual_swp .inbox .txt_info > p em { margin: -33px 8px 0; font-size: 56px; line-height: 78px; font-weight: 700; } 
.visual_swp .inbox .txt_info > p span { font-size: 20px; } 
.visual_swp .swiper_ctrl { display: flex; position: absolute; right: 0; bottom: 15px; } 
.visual_swp .swiper_ctrl .swiper-pagination { display: flex; position: static; color: #f6f6f6; font-size: 12px; line-height: 20px; font-weight: 500; } 
.visual_swp .swiper_ctrl .swiper-pagination .bar { margin: 0 8px; opacity: 0.3; } 
.visual_swp .swiper_ctrl .swiper-button-next { flex: none; position: static; width: 20px; height: 20px; margin: 0 0 0 18px; background: url(../images/ico_next_white_20.svg) no-repeat center; overflow: hidden; } 
.visual_swp .swiper_ctrl .swiper-button-prev { flex: none; position: static; width: 20px; height: 20px; margin: 0 0 0 18px; background: url(../images/ico_prev_white_20.svg) no-repeat center; overflow: hidden; } 
.visual_swp .swiper-button-next:after, 
.visual_swp .swiper-button-prev:after { display: none; } 

.ma_environment_wrap { background: #fff; } 
.ma_environment { display: flex; margin-top: 26px; padding-bottom: 120px; } 
.ma_environment .datalist { flex: 1; } 
.ma_environment .datalist > li + li { margin-top: 20px; } 
.ma_environment .datalist .inbox { display: flex; align-items: center; padding: 28px 40px 28px 30px; border: 0.5px solid #e0e1e2; border-radius: 20px; background: #fff; box-shadow: 0px 3px 10px 0px rgba(104, 111, 115, 0.15); } 
.ma_environment .datalist .inbox .ico { width: 75px; height: 75px; margin-right: 20px; border-radius: 10px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.ma_environment .datalist .inbox .tit { font-size: 24px; line-height: 31px; font-weight: 700; } 
.ma_environment .datalist .inbox .con { position: relative; margin-left: auto; text-align: right; } 
.ma_environment .datalist .inbox .con .txt { font-size: 35px; line-height: 49px; font-weight: 700; } 
.ma_environment .datalist .inbox .con .cnt { position: absolute; right: 0; top: 100%; margin-top: -2px; color: #ff5042; font-size: 12px; line-height: 16px; } 
.ma_environment .databox { flex: 1; position: relative; margin-left: 20px; border-radius: 20px; background: url(../images/ma_bg_environment01.png) no-repeat center bottom #e9faf4; background-size: cover; } 
.ma_environment .databox .leftbox { display: flex; flex-direction: column; align-items: flex-start; position: absolute; top: 43px; left: 40px; } 
.ma_environment .databox .leftbox .tit { font-size: 24px; line-height: 31px; font-weight: 700; } 
.ma_environment .databox .leftbox .con .txt { font-size: 35px; line-height: 49px; font-weight: 700; } 
.ma_environment .databox .leftbox .con .cnt { margin-top: -2px; padding-right: 2px; color: #2ebab4; font-size: 12px; line-height: 16px; text-align: right; } 
.ma_environment .databox .rightbox { position: absolute; top: 1.6rem; right: 2.4rem; color: #393f44; font-size: 1.7rem; line-height: 1.3; font-weight: 700; text-align: left; } 
.ma_environment .databox .rightbox em { color: #2ebab4; font-weight: 700; } 


/* title */
.title_box { display: flex; align-items: flex-start; margin-top: 102px; } 
.title_box .title { font-size: 50px; line-height: 70px; font-weight: 700; } 
.title_box .s_txt { margin: 80px 0 0 auto; color: #666; font-size: 14px; line-height: 18px; font-weight: 300; } 

/* button */
.btn_style { display: inline-flex; justify-content: center; align-items: center; min-width: 5.4rem; padding: 0 0.7rem; border: 0.1rem solid #222; background: none; line-height: 1.3; font-weight: 400; } 
.btn_style.h24 { height: 2.4rem; border-radius: 1.2rem; font-size: 1.1rem; } 
.btn_style.h44 { height: 4.4rem; border-radius: 1rem; font-size: 1.1rem; } 
.btn_style.h48 { height: 4.8rem; border-radius: 1rem; font-size: 1.7rem; font-weight: 500; } 
.btn_style.h54 { height: 5.4rem; font-size: 1.7rem; font-weight: 700; } 
.btn_style.bd_gray { border: 0.1rem solid #e0e1e2; background: #fff; color: #a3a7ab; } 
.btn_style.bd_gray02 { border: 0.1rem solid #f2f2f2; background: #fff; color: #666; } 
.btn_style.bd_gray03 { border: 0.1rem solid rgba(224, 225, 226, 0.5); background: none; color: #fff; } 
.btn_style.bd_blue { border: 0.1rem solid #2c3db8; background: #fff; color: #2c3db8; } 
.btn_style.bg_blue { border: 0.1rem solid #2c3db8; background: #2c3db8; color: #fff; } 

.btn_box { display: flex; flex-wrap: wrap; align-items: center; } 
.btn_box .btn_style { flex: 1; } 
.btn_box .btn_style + .btn_style { margin-left: 0.8rem; } 

/* form */
.flex_tit { display: flex; margin-top: 2rem; } 
.flex_tit .tit { margin: -0.4rem 0; color: #666; font-size: 1.2rem; line-height: 1.6rem; font-weight: 400; } 
.flex_input { display: flex; flex-wrap: wrap; align-items: center; margin-top: 1.2rem; } 
.flex_input > * + * { margin-left: 0.8rem; } 
.flex_input input.text { flex: 1; min-width: 0; height: 4.4rem; padding: 0 1.5rem; border: 0.1rem solid #f2f2f2; border-radius: 1rem; font-size: 1.4rem; line-height: 1.5; font-weight: 600; background: #fbfbfb; outline: none; } 
/* .flex_input input.text.wr, */
.flex_input input.text:focus { border-color: #2c3db8; } 
.flex_input input.text:disabled { background: #f2f2f2; } 

.flex_input textarea.textarea { flex: 1; min-width: 0; height: 12rem; padding: 1.2rem 1.5rem; border: 0.1rem solid #f2f2f2; border-radius: 1rem; font-size: 1.4rem; line-height: 1.5; font-weight: 600; background: #fbfbfb; outline: none; resize: none; } 
.flex_input textarea.textarea:focus { border-color: #2c3db8; } 
.flex_input textarea.textarea:disabled { background: #f2f2f2; } 

.flex_input select { display: none; } 
.flex_input .nice-select { flex: 1; display: flex; align-items: center; min-width: 0; height: 4.4rem; padding: 0 3.3rem 0 1.5rem; border: 0.1rem solid #f2f2f2; border-radius: 1rem; color: #a3a7ab; font-size: 1.3rem; line-height: 1.5; font-weight: 400; background: #fbfbfb; transition: none; } 
.flex_input .nice-select:after { right: 1.5rem; width: 1.4rem; height: 1.4rem; margin-top: -0.7rem; border: none; background: url(../images/arrow_select.svg) no-repeat center center/contain; transform: rotate(0); transform-origin: center; } 
.flex_input .nice-select .current { display: block; text-overflow: ellipsis; overflow: hidden; } 
.flex_input .nice-select .list { padding: 0.6rem; margin: 1.6rem 0; border: 0.1rem solid #2c3db8; border-radius: 1rem; background: #fbfbfb; } 
.flex_input .nice-select.open_up .list { top: auto !important; bottom: 100%; } 
.flex_input .nice-select .option { min-height: auto; padding: 1rem; border-radius: 0.5rem; color: #222; font-size: 1.4rem; line-height: 2rem; font-weight: 600; white-space: normal; } 
.flex_input .nice-select.wr { color: #222; font-size: 1.4rem; font-weight: 600; } 
.flex_input .nice-select .option:hover,
.flex_input .nice-select .option.focus,
.flex_input .nice-select .option.selected.focus { background-color: #ebf0f8; } 
.flex_input .nice-select .option.disabled { background-color: transparent !important; color: #a3a7ab; } 
.flex_input .nice-select.open { border-color: #2c3db8; } 
.flex_input .nice-select.open:after { background-image: url(../images/arrow_select_on.svg); transform: rotate(0); } 
.flex_input .select.ml0 + .nice-select,
.flex_input .select:first-child + .nice-select { margin-left: 0 !important; } 

.flex_input .label_box { margin-right: 3rem; margin-left: 0; } 

.flex_input .txt_unit { font-size: 1.7rem; line-height: 1.3; font-weight: 500; } 
.flex_input .txt_between { font-size: 1.4rem; line-height: 1.3; font-weight: 500; } 
.flex_input .txt_between,
.flex_input .txt_between + * { margin-left: 0.4rem; } 
.flex_input .txt_val { flex: 1; display: flex; align-items: center; min-height: 4.4rem; padding: 0 0 0 0.8rem; font-size: 1.4rem; line-height: 1.6rem; font-weight: 600; } 

.flex_input.code { position: relative; } 
.flex_input.code .code_time { position: absolute; top: 0; right: 7.8rem; color: #2c3db8; font-size: 1.1rem; line-height: 4.4rem; font-weight: 400; } 

/* label_box */
.label_box { display: flex; padding: 0.4rem 0; } 
.label_box input { display: none; } 
.label_box label { display: inline-flex; align-items: center; } 
.label_box label::before { content: ""; width: 2.1rem; height: 2.1rem; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.label_box input[type="checkbox"] + label::before { background-image: url(../images/checkbox_off.svg); } 
.label_box input[type="checkbox"]:checked + label::before { background-image: url(../images/checkbox_on.svg); } 
.label_box input[type="radio"] + label::before { background-image: url(../images/radio_off.svg); } 
.label_box input[type="radio"]:checked + label::before { background-image: url(../images/radio_on.svg); } 
.label_box label .txt { margin-left: 0.8rem; font-size: 1.3rem; line-height: 1.5; } 
.label_box label strong.txt { font-size: 1.4rem; } 

/* pop */
.pop_open { overflow: hidden; } 
.pop_container { display: none; flex-direction: column; position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding: 4.8rem 1.6rem; overflow-y: auto; z-index: 999; } 
.pop_mask { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: #222; opacity: 0.7; } 
.pop_wrapper { flex: 1; display: flex; flex-direction: column; justify-content: center; width: 100%; } 
.pop_box { position: relative; width: 100%; padding: 2.4rem 1.6rem 1.6rem; border-radius: 2rem; background: #fff; z-index: 1; } 
.pop_box .pop_title { font-size: 2rem; line-height: 1.4; font-weight: 700; text-align: center; } 
.pop_box .pop_msg { margin-top: 2rem; color: #393f44; font-size: 1.5rem; line-height: 1.3; font-weight: 600; text-align: center; } 
.pop_terms_tit { margin-top: 1.6rem; color: #393f44; font-size: 1.5rem; line-height: 1.3; font-weight: 600; text-align: center; } 
.pop_terms_txt { margin-top: 0.8rem; color: #666; font-size: 1.3rem; line-height: 1.5; font-weight: 400; } 

.pop_in_tit { margin-top: 1.6rem; color: #393f44; font-size: 1.5rem; line-height: 1.3; font-weight: 600; text-align: center; } 
.pop_in_txt { margin-top: 0.8rem; color: #666; font-size: 1.3rem; line-height: 1.5; font-weight: 400; text-align: center; } 

/* error */
.error_input { border-color: #ff5042 !important; } 
.error_msg { margin: -0.3rem 0; padding: 0 0.4rem; color: #ff5042; font-size: 1.1rem; line-height: 1.4rem; } 

/* choice_chips */
.choice_chips { display: flex; align-items: center; margin-top: 1.2rem; } 
.choice_chips > li { margin: 0.4rem 0.4rem 0 0; } 
.choice_chips a { display: inline-flex; align-items: center; height: 100%; min-height: 3.2rem; padding: 0.2rem 1rem; border: 0.1rem solid rgba(191, 195, 199, 0.5); border-radius: 1.6rem; color: #393f44; font-size: 1.3rem; line-height: 1; text-align: center; } 
.choice_chips a.active { border-color: #2c3db8; color: #2c3db8; } 
.choice_chips > li.select_area { position: relative; padding-right: 0.9rem; margin-right: 0.8rem; } 
.choice_chips > li.select_area::before { content: ''; position: absolute; top: 50%; right: 0; width: 0.1rem; height: 2.8rem; background: rgba(224, 225, 226, 0.5); transform: translateY(-50%); } 
select.area { height: 3.2rem; padding: 0 2.4rem 0 2.8rem; border: 0.1rem solid rgba(191, 195, 199, 0.5); border-radius: 1.6rem; background: url(../images/ico_select.svg) no-repeat right 1rem center, url(../images/ico_local.svg) no-repeat no-repeat 1rem center; color: #393f44; font-size: 1.3rem; font-weight: 400; } 
.choice_chips > li.right_btn { display: inline-flex; align-items: center; margin: 0.4rem 0 0 auto; } 
.choice_chips > li.right_btn a { min-height: 0; padding: 0; border: none; } 
.choice_chips > li.right_btn a img { width: 2.4rem; height: 2.4rem; object-fit: contain; } 

/* progress */
.progress_group { position: relative; } 
.progress_group .progress_bar { position: relative; height: 0.3rem; border-radius: 0.3rem; } 
.progress_group .progress_bar.over { background-color: #e0e1e2; } 
.progress_group .progress_bar::before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0.1rem; background-color: #e0e1e2; } 
.progress_group .progress_bar .val { position: absolute; top: 0; bottom: 0; left: 0; border-radius: 0.3rem; background: linear-gradient(270deg, #495ad8 0%, #77abf8 100%); z-index: 1; } 
.progress_group .progress_bar .tip { position: absolute; bottom: 100%; right: 0; margin-bottom: 1rem; padding: 0.5rem 0.8rem 0.4rem; border: 0.1rem solid #222; font-size: 1.1rem; line-height: 1.3; font-weight: 400; border-radius: 0.5rem; white-space: nowrap; } 
.progress_group .progress_bar .tip::before { content: ''; position: absolute; top: 100%; right: 1.5rem; width: 0.9rem; height: 0.5rem; background-repeat: no-repeat; background-position: center bottom; background-size: contain; } 
.progress_group .progress_bar .tip.bg_blue { border-color: #197cff; background-color: #197cff; color: #fff; } 
.progress_group .progress_bar .tip.bg_blue::before { background-image: url(../images/ico_tip_up_bgblue.png); transform: rotate(180deg); } 
.progress_group .progress_bar .tip em { font-weight: 600; } 
.progress_group .progress_info { display: flex; align-items: center; margin-top: 0.6rem; } 
.progress_group .progress_info .total { flex: 1; color: #bfc3c7; font-size: 1.1rem; line-height: 1.3; } 
.progress_group .progress_info .total em { color: #393f44; } 
.progress_group .progress_info .total .pct { flex: none; color: #393f44; font-size: 1.2rem; line-height: 1.3; font-weight: 600; } 
.progress_group .progress_info .pct { position: relative; font-weight: 600; } 
.progress_group .progress_info .pct .tip { position: absolute; top: 100%; right: -1.2rem; margin-top: 0.5rem; padding: 0.5rem 0.8rem 0.4rem; border: 0.1rem solid #222; font-size: 1.1rem; line-height: 1.4; font-weight: 400; border-radius: 0.5rem; white-space: nowrap; } 
.progress_group .progress_info .pct .tip::before { content: ''; position: absolute; bottom: 100%; right: 2.2rem; width: 0.9rem; height: 0.5rem; background-repeat: no-repeat; background-position: center bottom; background-size: contain; } 
.progress_group .progress_info .pct .tip.bg_blue { border-color: #197cff; background-color: #197cff; color: #fff; } 
.progress_group .progress_info .pct .tip.bg_blue::before { background-image: url(../images/ico_tip_up_bgblue.png); } 
.progress_group .progress_info .pct .tip.bd_blue { border-color: #197cff; background-color: #fff; color: #393f44; } 
.progress_group .progress_info .pct .tip.bd_blue::before { background-image: url(../images/ico_tip_up_bdblue.png); } 
.progress_group .progress_info .pct .tip em { color: #197cff; font-weight: 600; } 


/* sub */
